<h1>Корзина</h1>

<div id="card" >
{{#if courses.length }}
    <table>
        <thead>
          <tr>
              <td>Название</td>
              <td>Количество</td>
              <td>Действия</td>
          </tr>
        </thead>
        <tbody>

        {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btn-small js-remove" data-id="{{_id}}">Удалить</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <p class="price"><strong>Цена:</strong> <span>{{price}}</span></p>
    <form action="/orders" method="post">
        <button type="submit" class="btn">Сделать заказ</button>
    </form>
{{else}}
   <p>товаров нет в корзине</p>
{{/if}}
</div>